<div *ngIf="SuatChieu" id="SuatChieu">
    <!-- <img [src]="SuatChieu.hinhAnh"> -->
    <div *ngFor="let item of SuatChieuDeduplicate.cumRapChieu">
        <p>{{item.tenCumRap}}</p>
        <ng-container *ngFor="let itemDiaChi of ThongTinCumRap">
            <p *ngIf="itemDiaChi.maCumRap === item.maCumRap">Địa Chỉ: {{itemDiaChi.diaChi}}</p>
        </ng-container>
        <button *ngFor="let itempickingTime of item.pickingTime" (click)="GuiMaLichChieu(itempickingTime.maLichChieu)">
            {{itempickingTime.ngayChieuGioChieu | date:"hh:mm"}}
        </button>
    </div>
</div>
<router-outlet></router-outlet>