$primary-color: #212121;
$primary-color-dark: #000000;
$primary-color-light: #484848;
$bg-color: #E1E2E1;

$text-color: rgb(255, 255, 255);
$text-color-dark: #212121;

$color-text : #fb4226;
$color-dark : #000000;
$color-reset : #212121;
$color-light : #484848;
$color-border: #303030;