<section id="review">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Điện ảnh 24h</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">Review</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane container active" id="home">

        <!-- row1 -->
        <div class="row myrow row1">
          <div class="col-md-6">
            <img src="../../../../assets/img/review1.jpg" alt="">
            <a href="#">Biệt đội 'thú cưng' tổng tấn công màn bạc năm nay gồm có những ai?</a>
            <p>Tưởng lạ mà quen không đấy.</p>
          </div>
          <div class="col-md-6">
            <img src="../../../../assets/img/review2.jpg" alt="">
            <a href="#">Ngày X-Men - 20 năm thương hiệu dị nhân xuất hiện trên màn ảnh rộng</a>
            <p>Chúc mừng sinh nhật người bạn X-Men nào.</p>
          </div>
        </div>

        <!-- row2 -->
        <div class="row myrow row2">
          <div class="col-md-4">
            <img class="row2__img" src="../../../../assets/img/review3.jpg" alt="">
            <a href="#">Vừa thoát khỏi 'mê cung', Kaya Scodelario tiếp tục chạy thục mạng vì thảm hoạ cá sấu</a>
            <p>Lâu lắm rồi mới có phim về sinh vật này nhỉ?</p>
          </div>

          <div class="col-md-4">
            <img class="row2__img" src="../../../../assets/img/review4.jpg" alt="">
            <a href="#">Lượm ngay 45 quả trứng Phục Sinh cực ý nghĩa trong Avengers: Endgame nào!</a>
            <p>Phần phim này tuy khá ít trứng nhưng nó lại mang nhiều ý nghĩa hơn đấy.</p>
          </div>

          <div class="col-md-4 more__movie">
            <div class="movie">
              <img class="movie__img" src="../../../../assets/img/review5.jpg" alt="">
              <a href="#">Cùng nhau điểm lại 5 lần Thanos đại bại trong comics trước thềm Avengers</a>
            </div>
            <div class="movie">
              <img class="movie__img" src="../../../../assets/img/review6.jpg" alt="">
              <a href="#">Siêu phẩm kinh dị Chúng Ta nhận mưa lời khen</a>
            </div>
            <div class="movie">
              <img class="movie__img" src="../../../../assets/img/review7.jpg" alt="">
              <a href="#">Shazam - siêu anh hùng nhà DC nối tiếp thành công vang dội của Aquaman</a>
            </div>
            <div class="movie">
              <img class="movie__img" src="../../../../assets/img/review8.jpg" alt="">
              <a href="#">Lật Mặt 4 tung trailer hé lộ chuyện 'ma đến chơi nhà’ vừa sợ vừa hài</a>
            </div>
          </div>
        </div>

      </div>

      <div class="tab-pane container fade" id="menu1">
        <!-- row1 -->
        <div class="row myrow row1">
          <div class="col-md-6">
            <img src="../../../../assets/img/review9.jpg" alt="">
            <a href="#">Ký Sinh Trùng - Đỉnh cao của điện ảnh Hàn Quốc </a>
            <p>Với lối kể chuyện thông minh và kịch bản đầy nút thắt, Ký Sinh Trùng xứng đáng là đỉnh cao của điện ảnh
              Hàn Quốc trong nhiều năm trở lại đây với giải Cành Cọ Vàng danh giá tại Cannes 2019.</p>
          </div>
          <div class="col-md-6">
            <img src="../../../../assets/img/review10.jpg" alt="">
            <a href="#">Annabelle: Ác Quỷ Trở Về - 'Chị Beo' đã trở lại và lợi hại hơn gấp trăm lần</a>
            <p>Sau khi gieo rắc nỗi kinh hoàng vòng quanh thế giới thì Annabelle cuối cùng cũng đã “về nhà” trong phần
              phim này. Nhưng lần này, chị không đi một mình mà có cả một binh đoàn ma quỷ theo sau...</p>
          </div>
        </div>

        <!-- row2 -->
        <div class="row myrow row2">
          <div class="col-md-4">
            <img class="row2__img" src="../../../../assets/img/review11.jpg" alt="">
            <a href="#">Toy Story 4 - Cả bầu trời kí ức tuổi thơ bỗng chốc thu bé lại bằng một bộ phim</a>
            <p>Gắn bó với tuổi thơ của hàng triệu thế hệ khán giả trên thế giới, Toy Story đã trở lại với một chuyến
              phiêu lưu mới và những bài học ý nghĩa cũ không phai nhòa theo năm tháng.</p>
          </div>

          <div class="col-md-4">
            <img class="row2__img" src="../../../../assets/img/review12.jpg" alt="">
            <a href="#">Men in Black: International - Chán bảo vệ Asgard, Thor cùng Valkyrie 'quẩy tưng' tổ chức áo
              đen</a>
            <p>Tuy không quá xuất sắc nhưng Men in Black: International vẫn giữ được cái chất hài hước đặc trưng của
              thương hiệu nhờ sự kết hợp của Tessa Thompson và Chris Hemsworth.</p>
          </div>

          <div class="col-md-4 more__movie">
            <div class="movie">
              <img class="movie__img" src="../../../../assets/img/review5.jpg" alt="">
              <a href="#">Cùng nhau điểm lại 5 lần Thanos đại bại trong comics trước thềm Avengers</a>
            </div>
            <div class="movie">
              <img class="movie__img" src="../../../../assets/img/review6.jpg" alt="">
              <a href="#">Siêu phẩm kinh dị Chúng Ta nhận mưa lời khen</a>
            </div>
            <div class="movie">
              <img class="movie__img" src="../../../../assets/img/review7.jpg" alt="">
              <a href="#">Shazam - siêu anh hùng nhà DC nối tiếp thành công vang dội của Aquaman</a>
            </div>
            <div class="movie">
              <img class="movie__img" src="../../../../assets/img/review8.jpg" alt="">
              <a href="#">Lật Mặt 4 tung trailer hé lộ chuyện 'ma đến chơi nhà’ vừa sợ vừa hài</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>