<section id="showtime" class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#dangchieu">ĐANG CHIẾU</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#sapchieu">SẮP CHIẾU</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container active" id="dangchieu">
      <!-- slick -->
      <ng-container *ngIf="DSPhimDangChieu">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
          <div ngxSlickItem *ngFor="let item of DSPhimDangChieu" class="slide">
            <app-item-phim [phim]="item"></app-item-phim>
          </div>
        </ngx-slick-carousel>
      </ng-container>
      <!-- end slick -->
    </div>
    <!-- end dang chieu -->

    <div class="tab-pane container fade" id="sapchieu">
      <ng-container *ngIf="DSPhimSapChieu">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
          <div ngxSlickItem *ngFor="let item of DSPhimSapChieu" class="slide">
            <app-item-phim [phim]="item"></app-item-phim>
          </div>
        </ngx-slick-carousel>
      </ng-container>
    </div>
    <!-- end sap chieu -->
  </div>
</section>