<!-- STAR FOOTER -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-item1 col-md-3 col-xs-12">
                <img src="../../../../assets/img/logo-black.png" alt="logo">
                <p>ABC giúp bạn mua vé trực tuyến và cập nhật thường xuyên các thông tin như trailer, tin tức, xuất
                    chiếu các
                    chương trình khuyến mãi từ các rạp cho người dùng sử dụng</p>
            </div>

            <div class="footer-item2 col-md-3 col-sm-6 col-xs-12">
                <p class="title">VỀ CHÚNG TÔI</p>
                <ul>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Lịch chiếu</a></li>
                    <li><a href="#">Cụm rạp</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Đăng nhập</a></li>
                </ul>
            </div>

            <div class="footer-item3 hideOnMobile col-md-3 col-xs-12">
                <p class="title">HỖ TRỢ KHÁCH HÀNG</p>
                <ul>
                    <li><a href="#">Trung tâm hỗ trợ</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Quy chế hoạt động</a></li>
                    <li><a href="#">Quyền lợi thành viên</a></li>
                    <li><a href="#">Câu hỏi thường gặp</a></li>
                </ul>
            </div>

            <div class="footer-item4 col-md-3 col-sm-6 col-xs-12">
                <p class="title">ĐỐI TÁC</p>
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-3"><img src="../../../../assets/img/cumrap1.png" alt="cumrap">
                    </div>
                    <div class="col-md-3 col-sm-3 col-3"><img src="../../../../assets/img/cumrap2.png" alt="cumrap">
                    </div>
                    <div class="col-md-3 col-sm-3 col-3"><img src="../../../../assets/img/cumrap3.png" alt="cumrap">
                    </div>
                    <div class="col-md-3 col-sm-3 col-3"><img src="../../../../assets/img/cumrap4.png" alt="cumrap">
                    </div>
                    <div class="col-md-3 col-sm-3 col-3"><img src="../../../../assets/img/cumrap5.png" alt="cumrap">
                    </div>
                    <div class="col-md-3 col-sm-3 col-3"><img src="../../../../assets/img/cumrap6.png" alt="cumrap">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END FOOTER -->