<div class="modal-content" *ngIf="mangMaLoaiNguoiDung">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs mynav">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" id="tab-dangnhap" href="#dangnhap">Đăng nhập</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" id="tab-dangki" href="#dangki">Đăng kí</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="dangnhap">
            <!-- Đăng nhập -->
            <form autocomplete="off" #registerForm="ngForm" (ngSubmit)="dangNhap(registerForm.value)">
                <label for="inp" class="inp">
                    <input class="form-control" name="taiKhoan" ngModel type="text">
                    <span class="label">Tài khoản</span>
                    <span class="border"></span>
                </label>

                <label for="inp" class="inp">
                    <input class="form-control" name="matKhau" ngModel type="text">
                    <span class="label">Mật khẩu</span>
                    <span class="border"></span>
                </label>

                <div class="button_cont" align="center">
                    <button  [disabled]="!registerForm.form.valid" class="example_a" target="_blank" rel="nofollow noopener">Đăng nhập</button>
                </div>
                <span (click)="toLogIn()" id="question">Bạn chưa có tài khoản?</span>
            </form>
        </div>

        <!-- Đăng kí -->
        <div class="tab-pane container fade" id="dangki">
            <form autocomplete="off" #registerForm2="ngForm" (ngSubmit)="dangKy(registerForm2.value)">
                <label for="inp" class="inp px-2">
                    <input class="form-control" name="hoTen" #HoTen="ngModel" ngModel required type="text">
                    <!-- Check Validation -->
                    <div *ngIf="HoTen.errors && (HoTen.dirty || HoTen.touched)" class="danger">
                        <!-- Kiểm tra rỗng -->
                        <div *ngIf="HoTen.errors.required">
                            (*)Vui lòng không được để trống
                        </div>
                    </div>
                    <span class="label">Họ tên</span>
                    <span class="border"></span>
                </label>

                <label for="inp" class="inp">
                    <input class="form-control" minlength="7" maxlength="15" name="taiKhoan" #TaiKhoan="ngModel" ngModel required type="text"
                    >
                    <!-- Check Validation -->
                    <div *ngIf="TaiKhoan.errors && (TaiKhoan.dirty || TaiKhoan.touched)" class="danger">
                        <!-- Kiểm tra rỗng -->
                        <div *ngIf="TaiKhoan.errors.required">
                            (*)Vui lòng không được để trống
                        </div>

                         <!-- Kiểm tra độ dài ký tự -->
                         <div *ngIf="(TaiKhoan.errors.minlength || TaiKhoan.errors.maxlength)">
                            (*)Độ dài 7-15 ký tự
                        </div>
                    </div>
                    <span class="label">Tài khoản</span>
                    <span class="border"></span>
                </label>

                <label for="inp" class="inp px-2 w-50">
                    <input class="form-control" name="matKhau" #MatKhau="ngModel" ngModel required type="password"
                    >
                    <!-- Check Validation -->
                    <div *ngIf="MatKhau.errors && (MatKhau.dirty || MatKhau.touched)" class="danger">
                        <!-- Kiểm tra rỗng -->
                        <div *ngIf="MatKhau.errors.required">
                            (*)Vui lòng không được để trống
                        </div>
                    </div>
                    <span class="label">Mật khẩu</span>
                    <span class="border"></span>
                </label>

                <label for="inp" class="inp px-2 w-50">
                    <input class="form-control" name="nhapLaiMatKhau" #NhapLaiMatKhau="ngModel" ngModel required type="password"
                    >
                    <!-- Check Validation -->
                    <div *ngIf="(NhapLaiMatKhau.errors || MatKhau.value!=NhapLaiMatKhau.value) && ( NhapLaiMatKhau.dirty || NhapLaiMatKhau.touched)" class="danger">
                        <!-- Kiểm tra rỗng -->
                        <!-- <div *ngIf="NhapLaiMatKhau.errors.required">
                            (*)Vui lòng không được để trống
                        </div> -->
                        <div *ngIf="MatKhau.value!=NhapLaiMatKhau.value">
                            (*)Mật khẩu không trùng
                        </div>
                    </div>
                    <span class="label">Nhập lại mật khẩu</span>
                    <span class="border"></span>
                </label>

                <label for="inp" class="inp">
                    <input class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" #Email="ngModel" ngModel required type="text">
                    <!-- Check Validation -->
                    <div *ngIf="Email.errors && (Email.dirty || Email.touched)" class="danger">
                        <!-- Kiểm tra rỗng -->
                        <div *ngIf="Email.errors.required">
                            (*)Vui lòng không được để trống
                        </div>
                        <!-- Check định dạng -->
                        <div *ngIf="Email.errors.pattern">
                            Email không đúng định dạng!
                        </div>
                    </div>
                    <span class="label">Email</span>
                    <span class="border"></span>
                </label>

                <label for="inp" class="inp">
                    <select class="form-control" name="maLoaiNguoiDung" type="text" id="inp select" placeholder="Maloai">
                        <option value="">{{mangMaLoaiNguoiDung[0].tenLoai}}</option>
                        <option value="">{{mangMaLoaiNguoiDung[1].tenLoai}}</option>                        
                    </select>
                    <span class="label">Loại người dùng</span>
                    <span class="border"></span>
                </label>

                <label for="inp" class="inp">
                    <input class="form-control" name="soDT" #SoDT="ngModel" ngModel required type="text">
                    <!-- Check Validation -->
                    <div *ngIf="SoDT.errors && (SoDT.dirty || SoDT.touched)" class="danger">
                        <!-- Kiểm tra rỗng -->
                        <div *ngIf="SoDT.errors.required">
                            (*)Vui lòng không được để trống
                        </div>
                    </div>
                    <span class="label">Số điện thoại</span>
                    <span class="border"></span>
                </label>
                <div class="button_cont" align="center">
                    <button class="example_a" [disabled]="!registerForm2.form.valid" target="_blank" rel="nofollow noopener">Đăng kí</button>
                </div>
            </form>
        </div>
    </div>
</div>